apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: image-processor-staging

resources:
  - ../../base

images:
  - name: image-processor-api
    newName: ghcr.io/timkrebs/go-microservice-api
    newTag: main
  - name: image-processor-worker
    newName: ghcr.io/timkrebs/go-microservice-worker
    newTag: main
  - name: image-processor-frontend
    newName: ghcr.io/timkrebs/go-microservice-frontend
    newTag: main

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 200m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 500m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 512Mi
    target:
      kind: Deployment
      name: api

  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: api

  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 300m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 384Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 1000m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
    target:
      kind: Deployment
      name: worker

  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 2
      - op: replace
        path: /spec/maxReplicas
        value: 10
    target:
      kind: HorizontalPodAutoscaler
      name: api-hpa

  - patch: |-
      - op: replace
        path: /spec/maxReplicaCount
        value: 15
    target:
      kind: ScaledObject
      name: worker-scaledobject

  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: frontend

  - patch: |-
      - op: replace
        path: /spec/resources/requests/storage
        value: 50Gi
    target:
      kind: PersistentVolumeClaim
      name: minio-data

commonLabels:
  environment: staging
