apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: image-processor
  labels:
    app: redis
    app.kubernetes.io/name: image-processor
    app.kubernetes.io/component: queue
spec:
  type: ClusterIP
  ports:
    - name: redis
      port: 6379
      targetPort: redis
  selector:
    app: redis
