apiVersion: v1
kind: Service
metadata:
  name: worker
  namespace: image-processor
  labels:
    app: worker
    app.kubernetes.io/name: image-processor
    app.kubernetes.io/component: worker
spec:
  type: ClusterIP
  ports:
    - name: health
      port: 8082
      targetPort: health
      protocol: TCP
  selector:
    app: worker
