apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: image-processor-ingress
  namespace: image-processor
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    external-dns.alpha.kubernetes.io/hostname: "image-processor.yourdomain.com"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - image-processor.yourdomain.com
      secretName: image-processor-tls
  rules:
    - host: image-processor.qnt9.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 8082
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: api
                port:
                  number: 8080
