apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-data
  namespace: image-processor
  labels:
    app: minio
    app.kubernetes.io/name: image-processor
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
