apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: image-processor
  labels:
    app: api
    app.kubernetes.io/name: image-processor
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: api
